# Зависимости Node.js
# Эту папку никогда не следует добавлять в репозиторий.
# Она восстанавливается командой 'npm install'.
/node_modules

# Логи и отладочные файлы
# Файлы, которые могут создаваться при запусках и отладке.
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Файлы операционной системы
.DS_Store
Thumbs.db

# Файлы редакторов кода
# Настройки для VS Code, WebStorm и других IDE.
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env